<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="#"> <i class="fab fa-facebook-square"></i></a>
      <a href="#">
        <i class="fab fa-instagram-square"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <br />
    <div class="f-info-brand">WonderLust PVT LTD</div>
    <div class="f-info-links">
      <i class="fas fa-copyright"></i>
      <a href="#">privacy</a>
      <a href="#"> terms</a>
    </div>
  </div>
</footer>
